<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">

    <!-- appenders -->

    <Appenders>
        <RollingFile name="fileLogger" fileName="./benerator.log" filePattern="./benerator-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>

        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n"/>
        </Console>
    </Appenders>

    <!-- loggers -->

    <Loggers>
        <Logger name="org.hibernate" level="warn"/>
        <Logger name="org.apache" level="warn"/>
        <Logger name="org.jboss" level="warn"/>
        <Logger name="net.sf.ehcache" level="info"/>
        <Logger name="com.rapiddweller" level="info"/>

        <!-- Root setup -->

        <Root level="info">
            <appender-ref ref="console"/>
            <appender-ref ref="fileLogger"/>
        </Root>

    </Loggers>
</Configuration>
